Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/sidebar.html">Edit</a>):

<ul>
  <li><a href="{{ '/' | relative_url }}">Home</a></li>
  <li><a href="{{ '/all' | relative_url }}">All pages</a></li>
  <li><a href="{{ '/cavestory-editors' | relative_url }}">Editors</a></li>
  <li><a href="{{ '/cavestory-engines' | relative_url }}">Engines</a></li>
  <li><a href="{{ '/organya' | relative_url }}">Music</a></li>
  <li><a href="{{ '/example-page' | relative_url }}">Example page</a></li>
</ul>
