/* Horizontal Rule (Lines) */
hr {
  border: 1px solid;
  height: 2px;
}

/* Inline Code */
p > code,
li > code {
    background-color: #e5e5e5;
    padding: 3px 5px 2px 5px;
}

/* Code Blocks */
pre {
  background: #f1f1f1;
  border-radius: 7px;
  border: 2px solid #e5e5e5;
}

/* Blockquotes */
blockquote {
  border-left: 4px solid #e5e5e5;
  padding: 0 0 0 12px;
}

/* Tables */
table {
  width: auto;
}
th,
td {
   border: 1px solid #ccc;
}

/* Footnotes */
div.footnotes::before {
  content: "Footnotes:";
  font-size: 13px;
  margin: 0 0 20px -10px;
    }
div.footnotes > ol > li {
  font-size: 12px;
  margin: 0 0 20px -18px;
    }